@model IList<XCode.Membership.Role>
@using NewLife;
@using NewLife.Web;
@using XCode;
@using XCode.Configuration;
@using System.Web.Mvc;
@using System.Web.Mvc.Ajax;
@using System.Web.Mvc.Html;
@using System.Web.Routing;
@using NewLife.Cube
@{
    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;
    var fields = ViewBag.Fields as IList<FieldItem>;
    var enableSelect = this.EnableSelect();
    var provider = ManageProvider.Provider;
}
<div class="kt-widget4" style="overflow-x:auto;">
    <table class="table table-striped table-bordered table-hover table-checkable kt-datatable__table table-sm ">
        <thead>
            <tr class="kt-datatable__row">
                @if (enableSelect)
                {
                    <th class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check" style="width:20px;">
                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                            <input type="checkbox" id="chkAll" title="全选" />
                            <span></span>
                        </label>
                    </th>
                }
                <th class="text-center hidden-md hidden-sm hidden-xs"><a href="@Html.Raw(page.GetSortUrl("ID"))">编号</a></th>
                <th class="text-left"><a href="@Html.Raw(page.GetSortUrl("Name"))">名称</a></th>
                <th class="text-center" title="系统。系统角色用于业务系统开发使用，禁止修改名称或删除"><a href="@Html.Raw(page.GetSortUrl("IsSystem"))">系统</a></th>
                <th class="text-left"><a href="@Html.Raw(page.GetSortUrl("Remark"))">说明</a></th>
                <th class="text-left"><a href="@Html.Raw(page.GetSortUrl("UpdateUserID"))">更新用户</a></th>
                <th class="text-left"><a href="@Html.Raw(page.GetSortUrl("UpdateIP"))">更新地址</a></th>
                <th class="text-right" style="min-width:134px;"><a href="@Html.Raw(page.GetSortUrl("UpdateTime"))">更新时间</a></th>
                @if (this.Has(PermissionFlags.Update, PermissionFlags.Delete))
                {
                    <th class="text-center">操作</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in Model)
            {
                <tr>
                    @if (enableSelect)
                    {
                        <td class="text-center" style="width:20px;">
                            <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                                <input type="checkbox" name="keys" value="@entity.ID" />
                                <span></span>
                            </label>
                        </td>
                    }
                    <td class="text-center hidden-md hidden-sm hidden-xs">@entity.ID</td>
                    <td class="text-left">@entity.Name</td>
                    <td class="text-center">
                        <span>
                            <i class="la la-@(entity.IsSystem ? "check" : "close")" style="color: @(entity.IsSystem ? "green" : "red");"></i>
                        </span>
                    </td>
                    <td class="text-left">@entity.Remark</td>
                    <td class="text-left">@provider.FindByID(entity.UpdateUserID)</td>
                    <td class="text-left" title="@entity.UpdateIP.IPToAddress()">@entity.UpdateIP</td>
                    <td class="text-right">@entity.UpdateTime.ToFullString("")</td>
                    @if (this.Has(PermissionFlags.Update, PermissionFlags.Delete))
                    {
                        <td class="text-right" style="width: 90px;">
                            @Html.Partial("_List_Data_Action", (Object)entity)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>