@using NewLife.Common;
@{
    Layout = null;
    ViewBag.Title = "登录";

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @SysConfig.Current.DisplayName</title>
    <meta name="description" content="新生命团队,NewLife,魔方,Cube,XCode,XIoT,@SysConfig.Current.Company">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!--网页字体 -->
    <script src="https://cdn.bootcss.com/webfont/1.6.28/webfontloader.js"></script>
    <script>
        WebFont.load({
            google: {
                "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!--页面自定义样式-->
    <link href="~/assets/css/demo1/pages/login/login-6.css" rel="stylesheet" type="text/css" />

    <!--强制页面样式s -->
    <link href="~/assets/vendors/general/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />

    <!--可选页面样式 -->
    <link href="~/assets/vendors/general/tether/dist/css/tether.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/select2/dist/css/select2.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/ion-rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/nouislider/distribute/nouislider.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/owl.carousel/dist/assets/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/owl.carousel/dist/assets/owl.theme.default.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/summernote/dist/summernote.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/animate.css/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/toastr/build/toastr.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/morris.js/morris.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/sweetalert2/dist/sweetalert2.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/socicon/css/socicon.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/custom/vendors/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/custom/vendors/flaticon/flaticon.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/custom/vendors/flaticon2/flaticon.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/general/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />

    <!--主题样式-->
    <link href="~/assets/css/demo1/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/demo1/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/demo1/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/demo1/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/demo1/skins/aside/dark.css" rel="stylesheet" type="text/css" />


    <!-- 全局配置-->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                    "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                }
            }
        };
    </script>

    <!--核心脚本 -->
    <script src="~/assets/vendors/general/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/popper.js/dist/umd/popper.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/js-cookie/src/js.cookie.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/moment/min/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/perfect-scrollbar/dist/perfect-scrollbar.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/sticky-js/dist/sticky.min.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/wnumb/wNumb.js" type="text/javascript"></script>

</head>

<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v6 kt-login--signin" id="kt_login">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
                <!--公司-->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid__item--center kt-grid kt-grid--ver kt-login__content" style="background-image: url(../../../../assets/media//bg/bg-4.jpg);">
                    <div class="kt-login__section">
                        <div class="kt-login__block">
                            <h3 class="kt-login__title">@SysConfig.Current.DisplayName</h3>
                            <div class="kt-login__desc">
                                @MUI.WebSite.CompanySetting.Current.Address
                            </div>
                        </div>
                    </div>
                </div>
                <!--登录-->
                <div class="kt-grid__item  kt-grid__item--order-tablet-and-mobile-2  kt-grid kt-grid--hor kt-login__aside">
                    <div class="kt-login__wrapper">
                        <div class="kt-login__container">
                            <div class="kt-login__body">
                                <div class="kt-login__logo">
                                    <a href="#">
                                        <img src="~/assets/image/logo.png" style="width:60px;height:60px;" />
                                    </a>
                                </div>

                                @Html.Partial("_Login_Login")@*登录页*@
                                @Html.Partial("_Login_Register")@*注册页*@
                                @Html.Partial("_Login_Forgot")@*找回密码页*@
                                
                            </div>
                        </div>
                        <div class="kt-login__account">
                            @*<span class="kt-login__account-msg">
                                Don't have an account yet ?
                            </span>&nbsp;&nbsp;
                            <a href="javascript:;" id="kt_login_signup" class="kt-login__account-link">Sign Up!</a>*@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- end:: Page -->
   
  
    <!-- 可选脚本 -->
    <script src="~/assets/vendors/general/jquery-form/dist/jquery.form.min.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/block-ui/jquery.blockUI.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/vendors/custom/js/vendors/bootstrap-datepicker.init.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/vendors/custom/js/vendors/bootstrap-timepicker.init.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/assets/vendors/custom/vendors/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/bootstrap-select/dist/js/bootstrap-select.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/bootstrap-switch/dist/js/bootstrap-switch.js" type="text/javascript"></script>
    <script src="~/assets/vendors/custom/js/vendors/bootstrap-switch.init.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/select2/dist/js/select2.full.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/ion-rangeslider/js/ion.rangeSlider.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/typeahead.js/dist/typeahead.bundle.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/handlebars/dist/handlebars.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/inputmask/dist/jquery.inputmask.bundle.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/inputmask/dist/inputmask/inputmask.date.extensions.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/inputmask/dist/inputmask/inputmask.numeric.extensions.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/nouislider/distribute/nouislider.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/owl.carousel/dist/owl.carousel.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/autosize/dist/autosize.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/clipboard/dist/clipboard.min.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/dropzone/dist/dropzone.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/summernote/dist/summernote.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="~/assets/vendors/custom/js/vendors/bootstrap-markdown.init.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/bootstrap-notify/bootstrap-notify.min.js" type="text/javascript"></script>
    <script src="~/assets/vendors/custom/js/vendors/bootstrap-notify.init.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/jquery-validation/dist/additional-methods.js" type="text/javascript"></script>
    <script src="~/assets/vendors/custom/js/vendors/jquery-validation.init.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/toastr/build/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/raphael/raphael.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/morris.js/morris.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/chart.js/dist/Chart.bundle.js" type="text/javascript"></script>
    <script src="~/assets/vendors/custom/vendors/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js" type="text/javascript"></script>
    <script src="~/assets/vendors/custom/vendors/jquery-idletimer/idle-timer.min.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/waypoints/lib/jquery.waypoints.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/counterup/jquery.counterup.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/es6-promise-polyfill/promise.min.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/sweetalert2/dist/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/vendors/custom/js/vendors/sweetalert2.init.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/jquery.repeater/src/lib.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/jquery.repeater/src/jquery.input.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/jquery.repeater/src/repeater.js" type="text/javascript"></script>
    <script src="~/assets/vendors/general/dompurify/dist/purify.js" type="text/javascript"></script>

    <!--主题样式脚本 -->
    <script src="~/assets/js/demo1/scripts.bundle.js" type="text/javascript"></script>

    <!--登录页面脚本 -->
    <script src="~/assets/js/demo1/pages/login/login-general.js" type="text/javascript"></script>


</body>
</html>